:root{
    --purple-white: #FAF5FF;
    --purple-100: #E9D8FD;

    --blue-900: #1A365D;

    --purple-900: #322659;

    --gray-300:#CBD5E0;
    --gray-900:#171923;
}

*{
    border:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-weight:400;
    background-color:var( --purple-white);   
}
body,textarea,button,imput{
    font-family: Poppins,sans-serif;

}

main{
    display: flex;
    align-items: center;
    justify-content: center;

    height:90vh;
}